.CreateGameForm {
    background: beige;
    border-radius: 5px;
    width: 50%;
}

.title {
    text-align: center;
    margin-bottom: -20px;
    font-family: Helvetica, serif;
}

.subTitle {
    text-align: center;
    font-family: Helvetica, serif;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Helvetica, serif;
}