﻿.GameList {
    background: beige;
    border-radius: 5px;
    width: 50%;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Helvetica, serif;
}

.GameName {
    width: 50%;
    font-size: 1.1em !important;
    font-family: Helvetica, serif;
}

.PlayersAmount {
    width: 30%;
    font-size: 1em !important;
    font-family: Helvetica, serif;
}

.JoinGame {
    width: 20%;
    font-size: 0.8em !important;
}