﻿.LobbyForm {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    background: beige;
    border-radius: 5px;
    width: 50%;
}

span {
    font-family: helvetica, serif;
    font-size: 1.1em;
}

.character-card {
    display: table;
    min-height: 100px;
    width: 100%;
    border-radius: 5px;
    background: beige;
}

.character-name {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 22px;
    font-family: Helvetica, serif;
    padding: 5px;
}

.pauseDisplay {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    background: beige;
    border-radius: 5px;
    width: 100%;
}

.playerWaited {
    font-family: Helvetica, serif;
    text-align: left;
}

.constraint-card {
    display: table;
    min-height: 50px;
    width: 100%;
    border-radius: 5px;
    background: darkblue;
    border-style: double;
    border-width: 5px;
    border-color: beige;
}

.constraint {
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    font-family: Helvetica, serif;
    padding: 5px;
}