.Game {
    display: block;
    text-align: center;
}

body {
    background: #282c34;
}

.ResettingPanel {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    background: beige;
    border-radius: 5px;
    width: 50%;
}