﻿.GameStatus {
    background: beige;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2em;
}

.blue-text {
    color: #5B7AB4;
    font-weight: bold;
}

.blue-text-cb {
    color: #5B7AB4;
    font-weight: bold;
}

.red-text {
    color: #ff7675;
    font-weight: bold;
}

.red-text-cb {
    color: #ff7675;
    font-weight: bold;
}