.skull {
    display: table;
    width: 100%;
    border-radius: 5px;
    background: beige;
    padding-top: 15px;
    padding-bottom: 15px;
}

.guess-word {
    font-weight: bold;
    font-size: 22px;
    font-family: Helvetica, serif;
    padding: 5px;
}