﻿.LobbyForm {
    display: flex;
    margin-left: auto !important;
    margin-right: auto !important;
    background: beige;
    border-radius: 5px;
    width: 50%;
}

span {
    font-family: helvetica, serif;
    font-size: 1.1em;
}