﻿.PlayerList {
    background: beige;
    border-radius: 5px;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Helvetica, serif;
}

.cell {
    width: 25%;
}

.blue-cell {
    background: #5B7AB4;
}

.blue-cell-cb {
    background: #5B7AB4;
}

.red-cell {
    background: #ff7675;
}

.red-cell-cb {
    background: #ff7675;
}

.spec-cell {
    background: #c29161;
}

.spec-cell-cb {
    background: #7fc261;
}
