.skull {
    display: table;
    width: 100%;
    border-radius: 5px;
    background: beige;
    padding-top: 15px;
    padding-bottom: 15px;
}

.character {
    font-weight: bold;
    font-size: 22px;
    font-family: Helvetica, serif;
    padding: 5px;
}

.word {
    font-size: 20px;
    font-family: Helvetica, serif;
    padding: 5px;
}

.score {
    font-size: 20px;
    font-family: Helvetica, serif;
    padding: 5px;
}

.player-name {
    font-style: italic;
    font-size: 15px;
    font-family: Helvetica, serif;
    padding: 5px;
}

.valid {
    color: darkgreen;
}

.invalid {
    color: darkred;
}